!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Test PDF
  %body
    #page-1.page
      .inner Page 1
    #page-2.page
      .inner Page 2
    #page-3.page
      .inner Page 3
    #page-4.page
      .inner Page 4
    #page-5.page
      .inner Page 5
    #page-6.page
      .inner Page 6
    #page-7.page
      .inner Page 7
    #page-8.page
      .inner Page 8
